.c-indacart {
  $border: 3px;
  display: flex;
  position: fixed;
  right: 0; bottom: 50px;
  max-width: 350px;
  min-width: 300px;
  box-sizing: border-box;
  background: #fff;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 7px;
  transform: translateX(100%);
  transition: transform 0.2s;
 
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, red, orange);
  }

  &.is-active {
    transform: translateX(0);
  }

  &__left-block {
    width: 70px;
    background-color: #F5B511;
    padding: 10px 5px;
    text-align: center;
    box-sizing: inherit;
  }

  &__close {
    position: absolute;
    top: 5px; left: 5px;
    width: 15px;
    height: 15px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__icon-timer {
    width: 40px;
    height: 40px;
  }

  &__timer {
    color: #fff;
    font-weight: 600;
  }

  &__right-block {
    width: calc(100% - 70px);
    background-color: #fff;
  }
}
